/* Definição das variáveis de cores da Torfresma */
:root {
  --torfresma-primary: #c0ff00; /* Novo tom de verde vibrante */
  --torfresma-dark: #222222; /* Um preto/cinza escuro para texto e fundo */
  --torfresma-light: #F8F8F8; /* Um branco/cinza claro para fundos e texto */
  --torfresma-text-light: #FFFFFF; /* Branco para texto sobre fundo escuro */
  --torfresma-text-dark: #333333;  /* Cinza escuro para texto sobre fundo claro */
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--torfresma-light);
  color: var(--torfresma-text-dark);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--torfresma-dark); 
  padding: 20px;
  color: var(--torfresma-text-light); 
  margin-bottom: 20px;
}

.App-header h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 1.1em;
}

p[style*="color: red"] { 
  color: #E00000 !important; 
  font-weight: bold;
}

.App-logo {
  height: 20px; 
  pointer-events: none; 
  margin-bottom: 10px; 
}
.App-header {
  background-color: var(--torfresma-dark);
  padding: 20px;
  color: var(--torfresma-primary);
  margin-bottom: 20px;  
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  position: relative; 
}

.App-header h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  margin: 0;   
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  white-space: nowrap; 
  z-index: 1; 
}

.App-logo {
  height: 20px; 
  pointer-events: none;
  position: relative; 
  z-index: 2; 
}


